<footer>
        <div class="footer-nav">
        <nav>
        <a href="https://webpages.charlotte.edu/zdar1/"> CLT Web </a>
       	
        <a href="https://github.com/zainab-dar"> GitHub </a>
       	
        <a href="https://zainab-dar.github.io"> Github.io </a>
       	
		<a href="https://webpages.charlotte.edu/zdar1/itis3135"> ITIS3135.io </a>
        
        <a href="https://www.freecodecamp.org/zainabdar"> freeCodeCamp </a>
        
        <a href="https://www.codecademy.com/profiles/zainab_dar"> Codeacademy </a>
        
        <a href="https://www.linkedin.com/in/zainab-dar-630153286/"> LinkedIn </a>
        
        <a href="./dozephin-site/about.html"> Dozephin </a>

        </nav>
        </div>
        <p><a href = "./dardesigns.com/">Dar Designs</a> &copy; 2025</p>
</footer>