
<header>
        <h1>Zainab Dar's Zen Dolphin | ITIS 3135 </h1>
        <p class="tagline">Come along as I learn how to build my first webpage!</p>

        <nav>
            <a href = "./index.html"> Home </a>    
            <a href = "./introduction.html"> Introduction </a>
            <a href = "./contract.html"> Contract </a>   
            <a href = "./website_evaluations.html"> Website Evaluation </a>
            <a href = "./fccfsjs_outline.html">FCC JS Outline</a>
            <a href = "./intro_form.html">Intro Form</a>
            <a href = "./project_overview.html">Client Overview</a>
            <a href = "./mtc_client/index.html">Client Site</a>
            <a href = "./review1.html">Peer Review 1</a>
            <a href = "./review2.html">Peer Review 2</a>
        </nav>
          <nav class="secondary-nav">
          <a href = "https://webpages.charlotte.edu/zdar1/itis3135/stuff/cRAPPY_PAGE.html"> CRAPPY Webpage </a>
          <a href="https://webpages.charlotte.edu/zdar1/itis3135/hobby/index.html">Hobby</a>
          <a href="https://zainab-dar.github.io/itis3135-react/">React3</a>
    </nav>
</header>
