body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f7f9;
  color: #003f5c;
  line-height: 1.6;
}

header {
  background-color: #a3d5d3;
  color: #003f5c;
  text-align: center;
  padding: 1.5rem;
  border-bottom: 3px solid #78b2ae;
}
header nav a{
  content: "|";
  color: white;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p em {
  font-size: 1.1rem;
  display: block;
  margin-top: 0.5rem;
}

header nav, .footer-nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 1rem;
}

header nav a, 
.footer-nav a {
  color: #006d77;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 0 6px;
}

header nav a:hover, 
.footer-nav a:hover {
  color: #003f5c;
}

.footer-nav a::before,
.footer-nav a::after {
  content: "|";
  color: white;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

footer {
  background-color: #78b2ae; 
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  border-top: 3px solid #a3d5d3;
}

footer p {
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}